name: Gcode Report

on:
  push:
    branches:
      - '**'

jobs:
  generate-report:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.13'
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install .
          pip install .[Thumbnails]
      - name: Generate Gcode Report
        run: python tests/generate_report.py
      - name: Upload Gcode Report
        uses: actions/upload-artifact@v4
        with:
          name: gcode-report
          path: tests/gcode_report.png
